{% extends 'base.html' %}
{% load static %}
{% load hitcount_tags %}

{% block title %}All{% endblock %}

{% block content %}

  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <span class="breadcrumb"><a href="#">Home</a> / Properties</span>
          <h3>Properties</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="section properties">
    <div class="container">
      <ul class="properties-filter">
        <li>
            <h6>hammasi</h6>
          <a class="is_active btn " href="#" data-filter="*"></a>
        </li>
          {% for foo in catigory %}



        <li>
            <h6>{{ foo.name }}</h6>
             <a  class="btn" data-filter="#{{ foo.name}}" ></a>
        </li>
        {% endfor %}
      </ul>
      <div class="row properties-box">
          {% for homes in homes_list %}



        <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 "  id="{{ homes.category }}">

            <div class="item" style="height: 650px">
            <a href="{% url 'homes_detail' homes.pk %}"><img class="ratio ratio-1x1" src="{{ homes.image.url }}" alt="" height="300px"></a>

            <span class="category">{{ homes.category }}</span>
            <h6>{{ homes.narxi }}</h6>
                <p><i class="fa fa-eye" aria-hidden="true"> </i> {% get_hit_count for homes %}</p>

            <h4><a href="{% url 'homes_detail' homes.pk %}">{{ homes.manzil }}</a></h4>
            <ul>
              <li>Xonalar: <span>{{ homes.xona_soni }}</span></li>

              <li>maydoni: <span>{{ homes.maydoni }}</span></li>

            </ul>

          </div>

        </div>

        {% endfor %}
      </div>

    </div>
  </div>

 {% endblock content %}